/*fnt selection*/
@import url('https://fnts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body, html{
  font-family: 'Roboto', sans-serif;
  background: #ecf0f1;
}
/*font style*/
.fnt-x-s{
  font-size: 10px;
  font-weight: normal;
}

.fnt-s{
  font-size: 14px;
  font-weight: normal;
}

.fnt-m{
  font-size: 16px;
  fnt-weight: normal;
}

.fnt-l{
  fnt-size: 22px;
  font-weight: normal;
}

.fnt-x-l{
  font-size: 30px;
  font-weight: normal;
}

.fnt-header-title{
  font-size: 46px;
  font-weight: normal;
}

.fnt-sub-title{
  font-size: 28px;
  font-weight: normal;
}

.fnt-title{
  font-size: 34px;
  font-weight: normal;
}

.x-light{
  font-weight: 100;
}

.light{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.bold{
  font-weight: 700;
}

.x-bold{
  font-weight: 900;
}

.italic{
  font-style: italic;
}

.overline{
  text-decoration: overline;
}

.strike-out{
  text-decoration: line-through;
}

.underline{
  text-decoration: underline;
}

/*text alignment*/
.left{
  text-align: left;
}

.right{
  text-align: right;
}

.center{
  text-align: center;
}

.justify{
  text-align: justify;
}

.shadow{
  box-shadow: 2px 2px 10px #999;
}

/*=======================*/
/*btn*/
/*=========================*/
/*rectangle-btn*/
.btn-reg-def-danger{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-reg-def-alert{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-reg-def-warning{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-reg-def-info{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-reg-def-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

.btn-reg-def-primary{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-reg-def-active{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-reg-def-inactive{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}

/*alter-rectangle-btn*/
.btn-reg-alt-danger{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-alert{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-dark{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-warning{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-info{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-primary{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-active{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-reg-alt-inactive{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
/**/
/**/
/**/
/**/
/**/
/*round-corner-btn*/
/*round-corner-btn*/
.btn-cap-def-info{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-cap-def-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-cap-def-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-cap-def-active{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-cap-def-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}

.btn-cap-def-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-cap-def-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-cap-def-dark{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-cap-def-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

/*alter-round-corner-btn*/
.btn-cap-alt-info{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-active{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-cap-alt-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-dark{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
