/*fnt selection*/
@import url('https://fnts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
body, html{
  font-family: 'Roboto', sans-serif;
  background: #ecf0f1;
}
/*font style*/
.fnt-x-small{
  font-size: 10px;
  font-weight: normal;
}

.fnt-small{
  font-size: 14px;
  font-weight: normal;
}

.fnt-medium{
  font-size: 16px;
  fnt-weight: normal;
}

.fnt-large{
  fnt-size: 22px;
  font-weight: normal;
}

.fnt-x-large{
  font-size: 30px;
  font-weight: normal;
}

.header-title{
  font-size: 46px;
  font-weight: normal;
}

.sub-title{
  font-size: 28px;
  font-weight: normal;
}

.title{
  font-size: 34px;
  font-weight: normal;
}

.x-light{
  font-weight: 100;
}

.light{
  font-weight: 300;
}

.normal{
  font-weight: 400;
}

.bold{
  font-weight: 700;
}

.x-bold{
  font-weight: 900;
}

.italic{
  font-style: italic;
}

.overline{
  text-decoration: overline;
}

.strike-out{
  text-decoration: line-through;
}

.underline{
  text-decoration: underline;
}

/*text alignment*/
.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.justify{
  text-align: justify;
}


/*object alignment*/
.content-center{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content-left{
  position: absolute;
  left: 0;
}

.content-right{
  position: absolute;
  right: 0;
}

.shadow{
  box-shadow: 2px 2px 10px #999;
}

/*=======================*/
/*btn*/
/*=========================*/
/*rectangle-btn*/
.btn-reg-def-danger{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-reg-def-alert{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-reg-def-dark{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-reg-def-warning{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-reg-def-info{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-reg-def-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

.btn-reg-def-primary{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-reg-def-active{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-reg-def-inactive{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}


/*rectangle-btn====ON-HOVER*/
.btn-reg-def-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-def-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-reg-def-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

/*alter-rectangle-btn*/
.btn-reg-alt-danger{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-alert{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-dark{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-warning{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-info{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-primary{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-reg-alt-active{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-reg-alt-inactive{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

/*alter-rectangle-btn===ON-HOVER*/
.btn-reg-alt-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-reg-alt-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-reg-alt-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-reg-alt-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-reg-alt-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-reg-alt-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

.btn-reg-alt-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-reg-alt-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-reg-alt-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}

/**/
/**/
/**/
/**/
/**/
/*capsule-btn*/
.btn-cap-def-info{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-cap-def-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-cap-def-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-cap-def-active{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-cap-def-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}

.btn-cap-def-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-cap-def-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-cap-def-dark{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-cap-def-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

/*capsule-btn====ON-HOVER*/
.btn-cap-def-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-cap-def-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-def-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

/*alter-capsule-btn*/
.btn-cap-alt-info{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-active{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-cap-alt-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-dark{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-cap-alt-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


/*alter-capsule-btn====ON-HOVER*/
.btn-cap-alt-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-cap-alt-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-cap-alt-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-cap-alt-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}

.btn-cap-alt-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}

.btn-cap-alt-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-cap-alt-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-cap-alt-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-cap-alt-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-radius: 40px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}


/*box button def*/
.btn-box-def-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-box-def-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-box-def-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-box-def-info{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-box-def-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

.btn-box-def-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-box-def-dark{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-box-def-active{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}


.btn-box-def-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}


/*box button def====ON-HOVER*/
.btn-box-def-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #000000;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-def-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-box-def-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}



/*box button alt*/
.btn-box-alt-danger{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #e74c3c;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-alert{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #f39c12;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-warning{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffff00;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-info{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #87ceeb;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-galaxy{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #800080;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-primary{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #3498db;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

.btn-box-alt-active{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #2ecc71;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}


.btn-box-alt-inactive{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #bdc3c7;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}

/*box button alt====ON-HOVER*/
.btn-box-alt-danger:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #e74c3c;
}

.btn-box-alt-alert:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f39c12;
}

.btn-box-alt-warning:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffff00;
}

.btn-box-alt-info:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #87ceeb;
}

.btn-box-alt-galaxy:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #800080;
}

.btn-box-alt-primary:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3498db;
}

.btn-box-alt-dark:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}

.btn-box-alt-active:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2ecc71;
}

.btn-box-alt-inactive:hover{
  height: 50px;
  width: 150px;
  border:0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #bdc3c7;
}
